@font-face {
  font-family: 'Poppins-Medium';
  src: local('Poppins-Medium'),
      url('./fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins-Bold'),
        url('./fonts/Poppins-Bold.ttf') ;
}
@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('Poppins-ExtraBold'),
        url('./fonts/Poppins-ExtraBold.ttf') ;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
  background-color: #f8f8ff;
}
*{
  box-sizing: border-box;
}
.container{
  @apply h-full flex flex-col my-0; 
}
